// Breakpoints
$mobile: 350px;
$tablet: 768px;
$desktop: 1024px;

// Margin
$mobile-side-margin: 16px;
$tablet-side-margin: 32px;
$desktop-side-margin: 90px;

// Primary Colors
$bucketblast-olive: #0b2801;
$bucketblast-canva: #f1d29e;
$bucketblast-brown: #a76828;
$bucketblast-neutral-400: #ccc;
$bucketblast-neutral-500: #989898;
$bucketblast-graphite: #232940;
$bucketblast-eggshell: #d1d1d1;
$bucketblast-black: #13182c;

// Secondary Colors
$bucketblast-white: #ffffff;
$bucketblast-cloud: #bdc5d5;
$bucketblast-slate: #5c667e;
$bucketblast-blue: #2e66e5;

// Teriary Colors
$bucketblast-green: #158463;
$bucketblast-orange: #c94515;
